@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap');

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: var(--background, #F5F5F5);
}