.product-right {
    width: 52rem;
    height: 20rem;
    border-radius: 2rem;
    background: #FFF;
    box-sizing: border-box;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
}

.heading-filter {
    display: flex;
    justify-content: space-between;
}

.product-heading-right {
    color: #000;
    font-size: 1.8rem;
    font-family: Montserrat;
    font-weight: 700;
}

.filter-right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.month-year-right {
    color: var(--secondary-text, #858585);
    font-size: 1.2rem;
    font-family: Montserrat;
}

.pie-legends {
    display: flex;
    gap: 10rem;
}

.pie-legends-caption-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.legend1,
.legend2,
.legend3 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.caption-legend {
    color: #000;
    font-size: 1.4rem;
    font-family: Montserrat;
    font-weight: 700;
    margin: 0;
}

.legend-value {
    color: var(--secondary-text, #858585);
    font-size: 1.2rem;
    font-family: Lato;
    margin: 0;
}